<h1>Environmental Data Collection</h1>

<div class="jumbotron">
  <p>
    <a class="btn btn-lg btn-primary" href="/analyze_data"
        role="button">
      Analyze Data &raquo;
    </a>
  </p>

  <h4>Species Data Collection</h4>
  <p>
    LETS intends to study the species and their distribution at various
    alititudes over time.  This is a south facing slope from Aigle
    Switzerland (~350 m elevation) through the town of Leysin Switzerland
    (~1250-1650 m elevation) up to the top of these local mountains Berneuse
    & Tour di Äi (~2000 m elevation).
  </p>
  <p>
    This study uses the transect method to study the various tree species.
    The plots are 30m2 and sub-divided into 9 subquadrats (each 10m2).
    For more details visit:
    <a href="http://lets-study.ch/" target="_blank">LETS Study</a>
  </p>
  <p>
    To measure species Distribution there are a variety of methods --
    depending on size, and intent of the study.  This study uses <thead>
    transect methodology to study species at different altitudes over
    time.
    <br>
    Transects study organisms over a line (in many cases only a few meters,
    when studying a transition area).  In our case, the transect is many
    kilometers, from the valley floor to the mountain top.  Along this
    line we have study plots.
    <br>
    The following video nicely explains transect data collection:
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/xQKYjeAue7M"
              allowfullscreen></iframe>
    </div>
  </p>

  <h4>Environmental Data Collection</h4>
  <p>
    When studying species and ditribution there are many aspects of Ecology
    that affect Distribution.  These include:
    <ul>
      <li>Soil pH</li>
      <li>Temperature</li>
      <li>Light Intensity</li>
      <li>Water Availability</li>
      <li>...</li>
    </ul>
    The following video provides a nice overview of Ecology influences and
    speices sampling (density measurements):
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/gLzY8FPJcfM"
              allowfullscreen></iframe>
    </div>
    <br>
    Climate Data collection (rainfall and temperature) & graphing is nicely
    explained in this video:
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/Wv6yHl0LpgM"
              allowfullscreen></iframe>
    </div>
    <em>
      <strong>NOTE:</strong> we are not measuring these -- since we don't
      currently have an easy way to collect this data on a regular basis.
      We are exploring ways to make this possible -- so we may be able to
      collect this important data -- sooner or later.
    </em>
  </p>

  <h4>Other Species Sampling Techniques</h4>
  <p>
    For completeness it can be helpful to know of other species sampling
    techniques -- useful in many other species studies.  In fact, transect
    studies are probably not the most common approach to species studies.
  </p>
  <p>
    Depending on the Environment there are a variety of ways to collect
    species data (other than transect plots and counting individual trees).
    In some cases, like studying mosses - the percent of the plot area is
    used.  In other cases, especially smaller areas where a detailed
    environmental study will be done - random plots are used to study
    a single environment (such as a field or river bed).
    <br>
    Here are some videos to explore generally how species density is
    studied & the various techniques used to do those studies:
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/UDp3I07Wcrg"
              allowfullscreen></iframe>
    </div>
    <br>
    <strong>Random Sampling</strong> - and analysis - covered in detail.
    <br>
    <div class="embed-responsive embed-responsive-16by9">
      <b>Species Sampling Methods</b>
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/52fykMU0ojY"
              allowfullscreen>
      </iframe>
    </div>
  </p>

</div>
