<h1>Transect Analysis Overview</h1>

<div class="jumbotron">
  <p>
    <h3>Species Density</h3>
    <a class="btn btn-lg btn-primary" href="/graph"
        role="button">
      Making Kite Graphs &raquo;
    </a>
  </p>
  <p>
    As mentioned on the home page - the instructions for transect analysis
    <em>(on this site)</em> will focus on species distribution.
    <br>
    We make several assumptions regarding the trees -- for the purpose of
    tree species count <em>(and circumfence measurements),</em> we are assuming
    that each plot has had a similar growth time (with out logging).
    <em>This may or may not be a valid assumption.</em>
    <br>
    There are several ways to represent & study species density over a
    transect. <strong>These methods include:</strong>
    <ul>
      <li>
        <strong>kite graphs</strong> -- are ideal for representing multiple
        populations along a line <em>(transect)</em>.  The width of the
        population graph is wider at a given point along the transect where
        the population is higher.  We will be using this method as it is
        appropriate for our transect data.
        <div>
          <img src="http://www.bbc.co.uk/staticarchive/ec2a189d7ecddde97c9de7878b547d490cc050a8.jpg"
                alt="sample kite graph" class="img-thumbnail">
        </div>
        <br>
      </li>
      <li>
        <strong>density plots</strong> -- are generally used for 2D
        population maps -- this technique would be appropraite when using
        plot sampling (in 2 dimensions) over a specific area.  This is also
        generally only used to represent a single species (for readability).
        <div>
          <img src="https://ch.mathworks.com/matlabcentral/mlc-downloads/downloads/submissions/8430/versions/3/previews/html/facsdemo_02.png"
                alt="sample density plot" class="img-fluid">
        </div>
        To do this in R you can see this article:
        <a href="https://stackoverflow.com/questions/32622174/plotting-population-density-map-in-r-with-geom-point">
          Density Plot using R
        </a>
      </li>
      <li>
        <strong>density plot with color</strong> -- this helps differentiate
        the high density areas.
        <br>
        When using colors instead of tones - it is important to choose
        colors that are meaningful and not misleading.  These graphs are
        also often used to represent temperature in 2 dimensions.
        <div>
          <img src="https://ch.mathworks.com/matlabcentral/mlc-downloads/downloads/submissions/8430/versions/3/previews/html/facsdemo_03.png"
                alt="sample colorized density plot" class="img-fluid">
        </div>
      </li>
      <li>
        <strong>Other Transect Maping ideas</strong> -- this vide shows
        several methods of mapping transects (when the species in each area
        are relatively homogeneous).
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"
                  src="https://www.youtube.com/embed/xBIBtxCqM-8"
                  allowfullscreen></iframe>
        </div>
      </li>
    </ul>
  </p>
</div>
