<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>LETS Analyze</h1>

  <p>
    This site hopes to help provide insight into the understanding and analysis
    of citizen science. In particular this site looks to help people turn numerical data into
    meaningful graphical data -- that is both relevant to visualize biology as
    it is now.
  </p>
  <p>
    This LETS (Local Environmental Transect Survey) data set records tree
    species distribution and circumfrence (at ~1.3 meters hight).  This lends
    itself to transectional analysis of species distribution and plant growth.
    Biologically, these are indicators of optimal enviorns for a given species.
    Overtime, this will also allow longitudinal (time based) studies of changes,
    which would indicate environmental changes.
    Transect studies are easily visualized with Kit graphs and are easily done
    without sophisticated tools.
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="/overview"
        role="button">
      LETS Start Analysis &raquo;
    </a>
  </p>
  <p class="text-center">
    <em>
      The LETS Study project, a citizen science project sponsored by LAS
      (Leysin American School).
    </em>
  </p>
</div>
