<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>LETS Analyze</h1>
  <p>
    This site hosts the data and provides data analysis instruction for
    the LETS Study project, a citizen science project sponsored by LAS
    (Leysin American School).
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="http://lets-study.ch/"
        role="button">LETS Study &raquo;</a>
  </p>
</div>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
