<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Kite Graphs Explained</h1>
  <h3>Step 1 - Organize Data</h3>
  <p>
    Create a spreadsheet with the headers and a average species per plot at
    each alititude (for a given year).  Longitudinal (over time) is a more
    advanced (second) topic.
    <br>
    <b>Species Density in a 30m2 area</b>
    <pre>
      <code>
        | Altitude | Species 1 | Species 2 | Species 3 |
        |      0   |     0     |     5     |     0     |
        |    500   |     3     |     6     |     0     |
        |   1000   |     4     |     6     |     2     |
        |   1250   |     4     |     5     |     5     |
        |   1500   |     3     |     2     |     7     |
        |   1650   |     2     |     0     |     8     |
        |   1850   |     0     |     0     |     6     |
        |   2000   |     0     |     0     |     3     |
      </code>
    </pre>
  </p>
  <h3>Create the Kite Chart</h3>
  <p>
    <ol>
      <li>
        Find the largest density for each plant leave half of that
        (plus one - if needed) draw a center (0) line for each species:
        <pre>
          <code>
                      |   *
                      |
            Species 1 |-0-3-------------------------------------------------------
                      |   *
                      |

                      | * *
                      |
                      |
            Species 2 |-5-6-------------------------------------------------------
                      |
                      | *
                      |   *

                      |
                      |
                      |
                      |
            Species 3 |-0-0-------------------------------------------------------
                      |
                      |
                      |
                      |
            -----------------------------------------------------------------------
            Altitude  | 0 1 2 3 4 5 6 7 8 9 1 1 1 1 1 1 1 1 1 1 2
              meters      0 0 0 0 0 0 0 0 0 0 1 2 3 4 5 6 7 8 9 0
                          0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                                            0 0 0 0 0 0 0 0 0 0 0
          </code>
        </pre>
      </li>
      <li>
        At each altitude make an appropriate mark on each side of the center
        line half the max away from the center line
        <em>(the total discance of the two marks is the density at that alititude)</em>
        <pre>
          <code>
                      |
                      |
            Species 1 | -----------------------------------------------------------
                      |
                      |
                      *
                      |
                      |
                      |
            Species 2 | -----------------------------------------------------------
                      |
                      |
                      |
                      *
                      |
                      |
                      |
                      |
            Species 3 | -----------------------------------------------------------
                      |
                      |
                      |
                      |
            -----------------------------------------------------------------------
            Altitude  | 0 1 2 3 4 5 6 7 8 9 1 1 1 1 1 1 1 1 1 1 2
              meters      0 0 0 0 0 0 0 0 0 0 1 2 3 4 5 6 7 8 9 0
                          0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                                            0 0 0 0 0 0 0 0 0 0 0
          </code>
        </pre>
      </li>
    </ol>
    <pre>
      <code>


        Species 1 | -----------------------------------------------------------





        Species 2 | -----------------------------------------------------------







        Species 3 | -----------------------------------------------------------




        -----------------------------------------------------------------------
        Altitude  | 0 1 2 3 4 5 6 7 8 9 1 1 1 1 1 1 1 1 1 1 2
          meters      0 0 0 0 0 0 0 0 0 0 1 2 3 4 5 6 7 8 9 0
                      0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
                                        0 0 0 0 0 0 0 0 0 0 0
      </code>
    </pre>
  </p>
</div>
