<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Kite Graphs Explained</h1>
  <h3>Step 1 - Organize Data</h3>
  <p>
    Create a spreadsheet with the headers and a average species per plot at
    each alititude.
    <br>
    <pre>
      <code>

      </code>
    </pre>
  </p>
  <h3>Tree Growth Changes</h3>
  <p>
    It is possible to graph tree circumfrence similarly to species density,
    however, for that to be a valid representation of the data - all sites
    would need to be of equal age.  A better way to study this data is to
    compare yearly circumfrence changes, representing growth rates. This is
    probably most easily done by averaging the growth rate at each location
    and using a line graph to show the yearly changes.  <strong>However,
    growth rates are strongly influenced by each year's weather - so it is
    important to compare this to the year's temperature, rain fall, etc.</strong>
  </p>
</div>
