<h1>Species by Elevation</h1>

<% @species_elevation.reverse_each do |year,data| %>

<h3><%= year %> Data Set</h3>
  <strong>Download Data as CSV</strong>
  <table  class="table table-sm table-striped">
    <% data.each_with_index do |row,index| %>
      <% if index.eql? 0 %>
        <thead class="table-info">
          <tr>
            <% row.each do |header| %>
              <th><%= header %></th>
            <% end %>
          </tr>
        </thead>
      <% else %>
        <tbody>
          <tr>
            <% row.each do |measurement| %>
              <td><%= measurement %></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>

<% end %>
