<h3><strong>Do your own</strong> Graph and Analysis</h3>
<br>
<p>
  This is the data counts averaged by plot each year by elevation.
  <br>
  This data can now be graphed using a kite chart to study the species
  distribution -- for kite graph species distribution graphing instructions,
  see: <a href="/graph_data" target="_blank">making kite graph instructions</a>
  or the video:
  <a href="https://www.youtube.com/watch?v=_yKtAHhTF50" target="_blank">
    making kite graphs video
  </a>
  <br>
  Take a minute and see if the graphs and data are reasonable.  Thing to consider:
  <ul>
    <li>
      Which species have limited range?  Why?
    </li>
    <li>
      Which species are found every where?  Why?
    </li>
      <li>
        Are these results reasonable?  Why or why not?
      </li>
    <li>
      Can you see any evidence of range changes over time?
      Why or why not?
    </li>
    <li>
      Which species are mostly like to change their range as climate changes?
      Why?
    </li>
  </ul>
  What can you conclude about this viewing this data graphically?
</p>
