<h1>Study Design</h1>

<div class="jumbotron">
  <p>
    <a class="btn btn-lg btn-primary" href="/collect_data"
        role="button">
      Collect Data &raquo;
    </a>
  </p>
  <p>
    There are many aspects of the environment that can be studied.  The BBC
    has a nice overview article describing a variety of study designs and
    how to interpret the results.
    <a href="http://www.bbc.co.uk/schools/gcsebitesize/science/add_ocr_gateway/green_world/ecologyrev1.shtml"
        target="_blank">
      Ecology in the local environment
    </a>
  </p>
  <p>
    We set out to study species variation over time at various alititudes on a
    South facing slope in the Swiss Pre-Alps (near lake Geneva).  This study's
    altitude ranges from (~350 - ~2000m of elevation).
  </p>
  <p>
    The idea of a transect is to study changes in the enviornment along a line.
    In our case, it is an approximate line - to accomodate accessability.
  </p>
  <p>
    Since we are studying species variation we collect data on:
    <ul>
      <li>Tree Species Density</li>
      <li>Tree Circumfrence / Growth<em>(at ~1.3m - on the uphill side)</em></li>
    </ul>
    Here is a simple video on Transect Design.
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/HLX76gdXgTA"
              allowfullscreen></iframe>
    </div>
  </p>
  <p>
    Important aspects that affect growth and species include:
    <ul>
      <li>Soil pH</li>
      <li>Rainfall</li>
      <li>Temperature</li>
      <li>Sunlight Intensity</li>
    </ul>
    <em>
      <strong>NOTE:</strong> we are not measuring these -- since we don't
      currently have an easy way to collect this data on a regular basis.
      We are exploring ways to make this possible -- so we may be able to
      collect this important data -- sooner or later.
    </em>
  </p>
  <h4>LETS Plot Design</h4>
  <p>
    We asked for help from
    <strong>
      <a href="http://creamontblanc.org/en/christophe-randin">
        Christophe Randin
      </a>
    </strong> a professor at
    <em><a href="http:/www.unil.ch/index.html">UniL</a></em>
    and Scientific Collaborator at
    <em><a href="http://creamontblanc.org">CREA</a></em>,
    an organization studying the ecological response brought on by climate change.
  </p>
  <p>
    Through collaboration with Christophe Randin we decided to do a transect
    study and observe species distribution at various alititudes and how this
    may change over time.  To do this, we chose plots along a transect with
    similar characteristics to limit variation between plots - so that the only
    important change between plots is elevation).
  </p>
  <p>
    The important ecological variables that affect which plants thrive in the
    Swiss pre-Alps are:
    <ul>
      <li><strong>elevation</strong> - this is our indepentent variable --
        the one vary (change) on purpose - the point of the study.
      </li>
      <li>
        <strong>aspect</strong> - a controlled variable (the same for each plot), this affects
        the amount of light and the tempature at the site - these are VERY
        important to plant and animal growth
      </li>
      <li>
        <strong>slope angle</strong> - also a controlled vairable, this affects the soil type
        and the ability of the soil to retain water.  (Also very important to
        plant's ability to thrive.
      </li>
      <li>
        <strong>vegative cover</strong> - all these (in this study) have mature
        forests (no fields, roads, recently disturbed areas -- i.e. logging,
        building, etc.)  Some sites at higher altitudes have small trees which
        are representative forests at that elevation.
      </li>
    </ul>
    Other ecological variables could be considered (and why we excluded them) are:
    <ul>
      <li>
        <strong>temperature</strong> - already controlled by aspect, because
        temperature usually varies by elevation.  Since we've chosen sites
        with the same aspect the temperature changes is because of
        elevation.  For example, a North facing slope will be colder than
        a South facing slope at the same altitude.
      </li>
      <li>
        <strong>rainfall</strong> - our site is 2.5 Km wide and 4.5 Km long.
        Generally the rain fall will be relatively consistent over this small
        area.  So this
      </li>
      <li>
        <strong>humidity</strong> - the humidity often varies a lot at
        different alititudes (often the valley will be cloudy while higher
        altidutes will be sunny).  This is a confounding variable, but this
        is also related to elevation and impossible to otherwise control.
      </li>
      <li>
        <strong>sunlight</strong> -
      </li>
      <li>
        <strong>soil-type</strong> - 
      </li>
      <li>
        <strong>soil-moisture</strong> -
      </li>
    </ul>
  </p>
  <p>
    The two major factors affecting plants along a transect (that we can control)
    are the <strong>aspect</strong> <em>(the slope's compass direct)</em>.
    This is important

  </p>
  <p>
    Here is a map of our plots.
    Detailed location data can be found at:
    <%= link_to "Plot Details", tree_plots_path %>
    <br>
    <strong>Tree Plot Map</strong>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item"
              src="https://map.geo.admin.ch/embed.html?topic=ech&amp;lang=en&amp;bgLayer=ch.swisstopo.pixelkarte-farbe&amp;layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttps:%2F%2Fpublic.geo.admin.ch%2FtntbpkrxQXSZ86J2GPEXgA&amp;layers_visibility=false,false,false,false,true&amp;layers_timestamp=18641231,,,,&amp;X=132233.29&amp;Y=566312.63&amp;zoom=6">
      </iframe>
    </div>
  </p>

</div>
