<h1>Study Design</h1>

<div class="jumbotron">
  <p>
    <a class="btn btn-lg btn-primary" href="/collect_data"
        role="button">
      Collect Data &raquo;
    </a>
  </p>
  <p>
    There are many aspects of the environment that can be studied.  The BBC
    has a nice overview article describing a variety of study designs and
    how to interpret the results.
    <a href="http://www.bbc.co.uk/schools/gcsebitesize/science/add_ocr_gateway/green_world/ecologyrev1.shtml"
        target="_blank">
      Ecology in the local environment
    </a>
  </p>
  <p>
    We set out to study species variation over time at various alititudes on a
    South facing slope in the Swiss Pre-Alps (near lake Geneva).  This study's
    altitude ranges from (~350 - ~2000m of elevation).
  </p>
  <p>
    The idea of a transect is to study changes in the enviornment along a line.
    In our case, it is an approximate line - to accomodate accessability.
  </p>
  <p>
    Since we are studying species variation we collect data on:
    <ul>
      <li>Tree Species Density</li>
      <li>Tree Circumfrence / Growth<em>(at ~1.3m - on the uphill side)</em></li>
    </ul>
    Here is a simple video on Transect Design.
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item"
              src="https://www.youtube.com/embed/HLX76gdXgTA"
              allowfullscreen></iframe>
    </div>
  </p>
  <p>
    Important aspects that affect growth and species include:
    <ul>
      <li>Soil pH</li>
      <li>Rainfall</li>
      <li>Temperature</li>
      <li>Sunlight Intensity</li>
    </ul>
    <em>
      <strong>NOTE:</strong> we are not measuring these -- since we don't
      currently have an easy way to collect this data on a regular basis.
      We are exploring ways to make this possible -- so we may be able to
      collect this important data -- sooner or later.
    </em>
  </p>
  <h4>LETS Plot Design</h4>
  <p>
    In our case, we asked for help from a climate scientist - as long distance
    and complex terrains require more expertise.  Here is a map of our plots.
    Detailed location data can be found at:
    <%= link_to "Plot Details", tree_plots_path %>
    <br>
    <strong>Tree Plot Map</strong>
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item"
              src="https://map.geo.admin.ch/embed.html?topic=ech&amp;lang=en&amp;bgLayer=ch.swisstopo.pixelkarte-farbe&amp;layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bafu.wrz-wildruhezonen_portal,ch.swisstopo.swisstlm3d-wanderwege,KML%7C%7Chttps:%2F%2Fpublic.geo.admin.ch%2FtntbpkrxQXSZ86J2GPEXgA&amp;layers_visibility=false,false,false,false,true&amp;layers_timestamp=18641231,,,,&amp;X=132233.29&amp;Y=566312.63&amp;zoom=6">
      </iframe>
    </div>
  </p>

</div>
