<h1>Editing Transect Admin Editor</h1>

<%= render 'form', transect_admin_editor: @transect_admin_editor %>

<%= link_to 'Show', @transect_admin_editor %> |
<%= link_to 'Back', transect_admin_editors_path %>
